# SET

In [2]:
m = {1,2,3,4,5}
m

{1, 2, 3, 4, 5}

In [3]:
len(m)

5

In [4]:
m={1,1,2,2,3,4,5,5}
m

{1, 2, 3, 4, 5}

In [5]:
m1={1.79,2.08,3.99,4.56,5.45}
m1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [6]:
m2 = {'Asif' , 'John' , 'Tyrion'}
m2

{'Asif', 'John', 'Tyrion'}

In [7]:
m3 = {10,20, "Hola", (11, 22, 32)}
m3

{(11, 22, 32), 10, 20, 'Hola'}

In [8]:
s3 = {10,20, "Hola", [11, 22, 32]}
s3

TypeError: unhashable type: 'list'

In [9]:
m4 = set()
print(type(m4))

<class 'set'>

In [10]:
m1=set(('one' , 'two' , 'three' , 'four')) 
m1

{'four', 'one', 'three', 'two'}

In [22]:
m = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
 
for i in m: 
    print(i)

two
six
five
one
seven
three
four
eight

In [23]:
for i in enumerate(m): 
    print(i)

(0, 'two')
(1, 'six')
(2, 'five')
(3, 'one')
(4, 'seven')
(5, 'three')
(6, 'four')
(7, 'eight')

In [24]:
m

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [25]:
'one' in m

True

In [26]:
'ten' in m

False

In [27]:
if 'three' in m:
    print('Three is present')
else:
    print('Not present')

Three is present

In [28]:
if 'eleven' in m:
    print('Three is present')
else:
    print('Not present')

Not present

In [29]:
m

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [34]:
m.add('Nine')
m

{'ELEVEN',
 'Nine',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [35]:
m.update(['TEN' , 'ELEVEN' , 'TWELVE'])
m

{'ELEVEN',
 'Nine',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [36]:
m.remove('Nine')
m

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [37]:
m.update(['TEN' , 'ELEVEN' , 'TWELVE'])
m

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [39]:
m.clear()
m

set()

In [40]:
del m
m

NameError: name 'm' is not defined

In [41]:
m={'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
m

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [42]:
m1=m
m1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [43]:
id(m), id(m1)

(2834278954624, 2834278954624)

In [44]:
m=m.copy()
m

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [45]:
id(m)

2834278956640

In [46]:
m.add('nine')
m

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [47]:
m1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [48]:
m

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [49]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10} 

A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [52]:
A.update(B,C) 
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
A & B

{4, 5}

In [54]:
A.intersection(B)

{4, 5}

In [55]:
A.intersection_update(B) 
A

{4, 5}

In [56]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
A - B

{1, 2, 3}

In [57]:
A.difference(B)

{1, 2, 3}

In [58]:
B-A

{6, 7, 8}

In [59]:
B.difference(A)

{6, 7, 8}

In [60]:
B.difference_update(A)

In [61]:
B

{6, 7, 8}

In [63]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}
A^B

{1, 2, 3, 6, 7, 8}

In [64]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [65]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [66]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [67]:
B.issubset(A)

True

In [68]:
A.issuperset(B)

True

In [69]:
C.isdisjoint(A)

True

In [70]:
B.isdisjoint(A)

False

In [71]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
sum(A)

45

In [73]:
max(A)

9

In [74]:
min(A)

1

In [75]:
len(A)

9

In [76]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [77]:
D=sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [78]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [79]:
m=dict()
m

{}

In [80]:
m={}
m

{}

In [81]:
m={1:'one',2:'two',3:'three'}
m

{1: 'one', 2: 'two', 3: 'three'}

In [82]:
m=dict({1:'one',2:'two',3:'three'})
m

{1: 'one', 2: 'two', 3: 'three'}

In [83]:
m = {'A':'one' , 'B':'two' , 'C':'three'}
m

{'A': 'one', 'B': 'two', 'C': 'three'}

In [84]:
m.keys()

dict_keys(['A', 'B', 'C'])

In [85]:
m.values()

dict_values(['one', 'two', 'three'])

In [86]:
m.items()

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [87]:
m={1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
m

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [90]:
m ={1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'],  'B':('Bat' , 'cat','hat')}
m

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [ ]:
k = {'a' , 'b' , 'c' , 'd'} 
m3 = dict.fromkeys(k)
m3

{'b': 10, 'd': 10, 'c': 10, 'a': 10}

In [92]:
k = {'a' , 'b' , 'c' , 'd'} 
v = 10 
m3 = dict.fromkeys(k , v)
m3

{'b': 10, 'd': 10, 'c': 10, 'a': 10}

In [93]:
k = {'a' , 'b' , 'c' , 'd'} 
v = [10,20,30] 
m3 = dict.fromkeys(k , v)  
m3

{'b': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30]}

In [94]:
v.append(40)
m3

{'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

In [95]:
m={1:'one' , 2:'two' , 3:'three' , 4:'four'}
m

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [96]:
m[1]

'one'

In [97]:
m.get(1)

'one'

In [98]:
m1={'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
m1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [99]:
m1['Name']

'Asif'

In [101]:
m1.get('job')

'Analyst'

In [102]:
m = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
m

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [103]:
m['DOB']=1992
m['Address']='Delhi'
m

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [104]:
dict1 = {'DOB':1995} 
m.update(dict1) 
m

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [105]:
m['Job'] = 'Analyst'  
m

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [106]:
m.pop('Job') 
m

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [107]:
m.popitem() 
m

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [108]:
del[m['ID']]
m

{'Name': 'Asif', 'DOB': 1995}

In [109]:
m.clear() 
m

{}

In [110]:
del m
m

NameError: name 'm' is not defined

In [111]:
m = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
m

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [112]:
mydict1 = m

In [113]:
id(m) , id(mydict1)

(2834284169920, 2834284169920)

In [114]:
mydict2 = m.copy() 
id(mydict2)

2834284690560

In [115]:
m['Address'] = 'Mumbai' 
m

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [116]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [117]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [118]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job':'Analyst'} 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [120]:
for i in mydict1: 
    print(i , ':' , mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [121]:
for i in mydict1: 
    print(mydict1[i])

Asif
12345
1991
Hilsinki
Analyst

In [122]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [123]:
'Name' in mydict1

True

In [124]:
'Asif' in mydict1

False

In [125]:
'ID' in mydict1

True

In [126]:
'Address' in mydict1

False

In [127]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [128]:
all(mydict1)

True