In [1]:
import sys
sys.version

'3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]'

In [ ]:
x = 3
x

3

In [3]:
x = 4
x

4

In [4]:
y = 3
y

3

In [5]:
x, y

(4, 3)

In [6]:
x, y = 3

TypeError: cannot unpack non-iterable int object

In [ ]:
type(x)

In [7]:
y

3

In [8]:
x1 = 4
x1
type(x1)

int

In [9]:
x,x1

(4, 4)

In [10]:
y = 3
id(y)

140733999903592

In [11]:
x1 = 4
id(x1)

140733999903624

In [12]:
y = False 
type(y)

bool

In [13]:
x, y

(4, False)

In [14]:
import sys
sys.version

'3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]'

In [15]:
import sys
sys.version

'3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]'

In [16]:
a = 5
print(a)

type(a)

5

int

In [17]:
a@ = 6
a@

SyntaxError: invalid syntax (385768347.py, line 1)

In [18]:
6 = b

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1218098064.py, line 1)

In [ ]:
import sys
sys.version

'3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]'

In [20]:
a = 5
a

5

In [21]:
type(a)

int

In [22]:
b = 5.5
b

5.5

In [23]:
type(b)

float

In [24]:
c = 'hi'
c

'hi'

In [25]:
type(c)

str

In [ ]:
x = 2
x

2

In [27]:
x@ = 3
x@

SyntaxError: invalid syntax (3028986276.py, line 1)

In [ ]:
a = 2
type(a)

int

In [ ]:
b = 9223372036
print(b)

9223372036

In [ ]:
pi = 3.17
print(pi)

3.17

In [31]:
type(pi)

float

In [ ]:
c = 'A'
print(c)

A

In [33]:
type(c)

str

In [ ]:

name = 'John Doe'
print(name)
type(name)

John Doe

str

In [ ]:
q = True
print(q)

True

In [ ]:
x = None
print(x)

None

In [ ]:
5 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2124959903.py, line 2)

In [38]:
x = 5
x

5

In [40]:
ABC = 50
ABC

50

In [41]:
abc= 60
abc

60

In [42]:
Abc = 70
ABCD

NameError: name 'ABCD' is not defined

In [43]:
xyz = 20000
xyz

20000

In [44]:
ABCD = 70
ABCD

70

In [45]:
NIT = 15000
nit1

NameError: name 'nit1' is not defined

In [46]:
nIT = 20
nIT

20

In [47]:
montycorps = 78
montcorP

NameError: name 'montcorP' is not defined

In [48]:
cash123 = 10
cash123

10

In [49]:
123cash = 20
123cash

SyntaxError: invalid decimal literal (2794601236.py, line 1)

In [50]:
1A = 5

SyntaxError: invalid decimal literal (113075527.py, line 1)

In [51]:
A1 = 5
A1

5

In [ ]:
cash = 10 
cash

10

In [53]:
ca$h = 20
ca$h

SyntaxError: invalid syntax (1112431759.py, line 1)

In [54]:
ca*h = 20
ca*h

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3805698226.py, line 1)

In [ ]:
CASH = 20
CASH

20

In [ ]:
CASH1 = 30
CASH1

30

In [ ]:
123total = 30
123total

SyntaxError: invalid decimal literal (216375565.py, line 3)

In [ ]:
Abcde = 20
type(Abcde)

int

In [59]:
new = 30
NEW

NameError: name 'NEW' is not defined

In [ ]:
Total5 = 30
Total5

30

In [61]:
def = 4.6
def

SyntaxError: invalid syntax (1737738290.py, line 1)

In [62]:
del = 9

SyntaxError: invalid syntax (3568866929.py, line 1)

In [63]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [64]:
len(keyword.kwlist)

35

In [65]:
DEF = 4
DEF

4

In [66]:
if = 780
if

SyntaxError: invalid syntax (1979711427.py, line 1)

In [67]:
IF = 780
IF

780

In [ ]:
DEF = 5.6
DEF

5.6

In [69]:
def = 7
def

SyntaxError: invalid syntax (1075677671.py, line 1)

In [70]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [71]:
len(keyword.kwlist)

35

In [ ]:
for = 50
for

SyntaxError: invalid syntax (277425378.py, line 4)

In [73]:
FOR = 58
FOR

58

In [74]:
def = 30
def

SyntaxError: invalid syntax (2010559268.py, line 1)

In [75]:
if = 30
if

SyntaxError: invalid syntax (328627015.py, line 1)

In [ ]:
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFdfgsdfgsfgsdfgsdfgfdgsfghhhh = 56
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFdfgsdfgsfgsdfgsdfgfdgsfghhhh

56

In [ ]:
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx

10

In [78]:
_abc_def_gef  = 20
_abc_def_gef

20

In [79]:
x_train = 80
x_train

80

In [80]:
print('hello')

hello

In [ ]:
'hello'

'hello'

In [82]:
import keyword
len(keyword.kwlist)
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
a = True
a

True

In [84]:
a1 = true
a1

NameError: name 'true' is not defined

In [85]:
True = a

SyntaxError: cannot assign to True (1144090750.py, line 1)

In [ ]:
b = None
b

In [87]:
b = none
b

NameError: name 'none' is not defined

In [ ]:
c = False
c

False

In [89]:
true + true

NameError: name 'true' is not defined

In [90]:
True + True

2

In [91]:
True*True

1

In [ ]:
True / True

1.0

In [93]:
True // True

1

In [94]:
False/True

0.0

In [95]:
True/False

ZeroDivisionError: division by zero

In [96]:
pi = 3.14
pi

3.14

In [97]:
pi = 3.17
pi

3.17

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [99]:
kw = keyword.kwlist
kw

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
import pandas as pd
df = pd.DataFrame(keyword.kwlist)
df

           0
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

In [101]:
a = 10 
id(a)

140733999903816

In [102]:
b=10
id(b)

140733999903816

In [ ]:
a = 10
a

10

In [104]:
id(a)

140733999903816

In [105]:
b = 10
id(b)

140733999903816

In [106]:
c = 20
id(c)

140733999904136

In [107]:
a = 10
b = 10
id(a)

140733999903816

In [108]:
a = 10
a
id(a)

140733999903816

In [109]:
a = 1111
a

1111

In [110]:
type(a)

int

In [111]:
id(a)

1601666068336

In [ ]:
b = 0b1111 
b

15

In [113]:
bin(15)

'0b1111'

In [114]:
b_1 = 0b11
b_1

3

In [115]:
bin(b_1)

'0b11'

In [116]:
b_ = 0b1
b_

1

In [117]:
b2 = 0b22
b2

SyntaxError: invalid digit '2' in binary literal (3245495910.py, line 1)

In [118]:
b1 = 111
b1

111

In [119]:
c = 0b111
c

7

In [120]:
b3 = 0b2
b3

SyntaxError: invalid digit '2' in binary literal (707794346.py, line 1)

In [121]:
True/False

ZeroDivisionError: division by zero

In [ ]:
b = 0b10
b

2

In [123]:
c = 0b100
c

4

In [ ]:
b1 = 0o11 
b1

9

In [125]:
i = 0b22

SyntaxError: invalid digit '2' in binary literal (736842652.py, line 1)

In [126]:
i1 = 0o22
i1

18

In [127]:
b2 = 0o27
b2

23

In [ ]:
a = 10
b = 0b10
c = 0o100
a
b
c

64

In [129]:
c1 = 0O33
c1

27

In [130]:
b

2

In [131]:
c

64

In [132]:
A = 78
type(A)

int

In [133]:
b = 67.9
print(b)

67.9

In [134]:
type(b)

float

In [135]:
b1 = 0b1.1
b1

SyntaxError: invalid syntax (808406421.py, line 1)

In [136]:
c = 0o11.6
c

SyntaxError: invalid syntax (3270742341.py, line 1)

In [ ]:
d = 0o4567.67 
d

SyntaxError: invalid syntax (2124913177.py, line 7)

In [138]:
f1 = 1e4
f1
type(f1)

float

In [139]:
f = 1e3
f

1000.0

In [ ]:
g = 2.4E3 
g

2400.0

In [141]:
g1 = 23e3
g1

23000.0

In [ ]:
e = 5.e3
e

5000.0

#### complex datatypes - 
* Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
* j is the compulsory value & there is no other value accepted in complex type
* j^2 = -1 
* Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic 
  application or scientific application then python is the best option
* Real type any type base can be accepted but imaginary part allow only integer

In [ ]:
x = 30+40j 
x

(30+40j)

In [144]:
type(x)

complex

In [ ]:
y = 1+2j 
z = 3+2j 
y + z
y-z
y*z
y/z

(0.5384615384615384+0.30769230769230776j)

In [146]:
y-z

(-2+0j)

In [147]:
y*z

(-1+8j)

In [148]:
y/z

(0.5384615384615384+0.30769230769230776j)

In [ ]:
c = 15+0b111j 
c

SyntaxError: invalid binary literal (2166187284.py, line 1)

In [150]:
c = 1 + 0b10j
c

SyntaxError: invalid binary literal (904579619.py, line 1)

In [151]:
d2 = 0b111+15j
d2

(7+15j)

In [152]:
e1 = 4 + 15j
e1

(4+15j)

In [153]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

(0.5609756097560976+0.04878048780487805j)

In [154]:
a1 * b1

(-700+2200j)

In [155]:
20*40

800

In [156]:
a = 2+3j
type(a)

complex

In [ ]:
a1 = 10+20j 
a1.real  
a1.imag

20.0

In [158]:
a1.real

10.0

In [159]:
help()

Welcome to Python 3.11's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [160]:
com = 10 + 15j
type(com)

complex

In [161]:
com.real

10.0

In [162]:
com.imag

15.0

In [163]:
a = 10
b = 20
c = a>b
c

False

In [164]:
type(c)
#type(a)

bool

In [165]:
True+True
True*True
True-True
True/True
True//True
False+False
False+True
True/False

ZeroDivisionError: division by zero

In [166]:
True/True

1.0

In [ ]:
True/False

ZeroDivisionError: division by zero

In [168]:
pi = 3.14
pi
type(pi)

float

In [169]:
pi = 3.17
pi

3.17

In [170]:
ABC = '''good for datascience'''
ABC

'good for datascience'

In [171]:
type(ABC)

str

In [ ]:
DEF = '''good for datascience'''
DEF
type(DEF)

str

In [ ]:
w = '''good
             for datascience'''
w

'good\n             for datascience'

In [174]:
ts = '''The most common cause of the Python SyntaxError: 
    EOL while scanning string literal is due to missing quotes at the end of a string. 
    This refers to a string being opened by using either 
    ' , " , or """ and not closing the string properly.'''

In [175]:
ts

'The most common cause of the Python SyntaxError: \n    EOL while scanning string literal is due to missing quotes at the end of a string. \n    This refers to a string being opened by using either \n    \' , " , or """ and not closing the string properly.'

In [ ]:
y = '''good for datascience'''
y

'good for datascience'

In [ ]:
y = '''good for 
 datascience'''
y

'good for \n datascience'

In [ ]:
a = '''hallo
how 
are 
you'''

a

'hallo\nhow \nare \nyou'

In [179]:
b = '''hello 
    hi'''
b

'hello \n    hi'

In [ ]:
b = '''('hallo' 
  'how'
    'are you')'''
b

"('hallo' \n  'how'\n    'are you')"

In [182]:
x, y, z, m, n = 10, True, 10.9, 1 + 10j, 'hi'

In [183]:
type(n)

str

In [184]:
type(m)

complex

In [185]:
y

True

In [186]:
z

10.9

#### Type casting or Type conversion - 
int() -- float() -- complex() -- bool() -- str()

In [ ]:
int(10.123) 
int(True)    
int(False)  
int('10')

10

In [ ]:
float(10)   
float(False)     
float('11')

11.0

In [189]:
float(10,20)

TypeError: float expected at most 1 argument, got 2

In [ ]:

complex(10)   
complex(10.5) 
complex(True) 
complex(False)
complex('10') 
complex(10,20)
complex(10,20.5) 
complex('10')

(10+0j)

In [ ]:
bool(0)     
bool(-10)    
bool(0.0)   
bool(0.01)  
bool(10+20j)
bool(0+1j)   
bool(" ")    
bool('abc')
bool(' ')

True

In [192]:
bool(-10)

True

In [193]:
bool(0+1j)

True

In [ ]:
str(10)   
str(10.50) 
str(True)  
str(10+20j)

'(10+20j)'

In [195]:
x2 = 10
y2 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

140733999903816
140733999903816
140733999904136

In [196]:
x = 10 #id - adddres of the memory location
y = 10
print(id(x))
print(id(y))

140733999903816
140733999903816

In [197]:
id(y)

140733999903816

In [198]:
# is operator
x = 20 # x,y = 20
y = 20
x is y
y is x

True

In [199]:
x = True
y = True
z = False
x is y
y is z
z is x
z is y

False

In [200]:
l = [] 
type(l) 
#print(type(l))

list

In [201]:
l

[]

In [202]:
#Now i want to add an object
l.append(10) 
l.append(20)
l.append(30)
l.append(10)

In [203]:
l

[10, 20, 30, 10]

In [204]:
l.add(50)

AttributeError: 'list' object has no attribute 'add'

In [205]:
l

[10, 20, 30, 10]

In [206]:
print(l)

[10, 20, 30, 10]

In [ ]:
l.append('amx') 
l.append(8.0)
l.append(None)
l.append(1+2j)
l.append(True)

In [208]:
l

[10, 20, 30, 10, 'amx', 8.0, None, (1+2j), True]

In [ ]:
l.remove('amx')

In [210]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [211]:
l[-4]

8.0

In [212]:
l[-7]

20

In [213]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [214]:
l[4]

8.0

In [215]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [216]:
l[6]

(1+2j)

In [217]:
l[7]

True

In [218]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [219]:
l[12]

IndexError: list index out of range

In [224]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [225]:
l[5]

In [226]:
l[3]

10

In [227]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [228]:
l[8]

IndexError: list index out of range

In [229]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [230]:
l[-1]

True

In [231]:
l[-2]

(1+2j)

In [232]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [ ]:
l[:]

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [ ]:
l[2:4]

[30, 10]

In [235]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [ ]:
l[0:8]

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [237]:
l[14]

IndexError: list index out of range

In [238]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [239]:
l[3:5]

[10, 8.0]

In [240]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [241]:
l[2:4]

[30, 10]

In [242]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [243]:
l[0]

10

In [244]:
l[1]

20

In [245]:
l[0] = 100

In [246]:
l

[100, 20, 30, 10, 8.0, None, (1+2j), True]

In [247]:
l[1] = 'NIT'

In [248]:
l[:]

[100, 'NIT', 30, 10, 8.0, None, (1+2j), True]

In [249]:
l

[100, 'NIT', 30, 10, 8.0, None, (1+2j), True]

In [250]:
l[0]

100

In [251]:
l[0] = 1000

In [252]:
l

[1000, 'NIT', 30, 10, 8.0, None, (1+2j), True]

In [253]:
l[1] = 'AMX'

In [254]:
l[-2] = 'monty'

In [255]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [256]:
l[:]

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [257]:
l[2]

30

In [ ]:
l[2:5]

[30, 10, 8.0]

In [259]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [260]:
l[4]

8.0

In [261]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [ ]:
l[4:]

[8.0, None, 'monty', True]

In [263]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [264]:
l[:4]

[1000, 'AMX', 30, 10]

In [265]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [266]:
l[2]

30

In [267]:
l[2] = 'hi'
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [ ]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [269]:
l[2:-2]

['hi', 10, 8.0, None]

In [270]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [271]:
l[0:-1]

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty']

In [272]:
l[:]

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [273]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [ ]:
l[1]

'AMX'

In [ ]:
l[:]

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [ ]:
l[-1]

True

In [277]:
int(True)

1

In [278]:
l[-2]

'monty'

In [279]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [ ]:
l[:]

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [281]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [282]:
l.pop(6)

'monty'

In [283]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, True]

In [284]:
del l[-2]

In [285]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [286]:
l[:-1]

[1000, 'AMX', 'hi', 10, 8.0]

In [287]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [288]:
l[:-2]

[1000, 'AMX', 'hi', 10]

In [289]:
a, b, c = [1, 'nit', [1,2,3]]

In [290]:
a

1

In [291]:
b

'nit'

In [292]:
c

[1, 2, 3]

In [293]:
a1, b1, c1 = [1, 'nit', [1,2,3]]

In [294]:
a1

1

In [295]:
b1

'nit'

In [296]:
l2 = [a1,b1,c1]

In [297]:
l2

[1, 'nit', [1, 2, 3]]

In [298]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [ ]:
l[::-1]

[True, 8.0, 10, 'hi', 'AMX', 1000]

In [300]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [301]:
l[::-2]

[True, 10, 'AMX']

In [302]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [303]:
l[::-3]

[True, 'hi']

In [304]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [305]:
l[::-1]

[True, 8.0, 10, 'hi', 'AMX', 1000]

In [306]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [307]:
l[:-2]

[1000, 'AMX', 'hi', 10]

In [308]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [309]:
l[-4:]

['hi', 10, 8.0, True]

In [310]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [311]:
l.remove(8.0) 
l

[1000, 'AMX', 'hi', 10, True]

In [313]:
l

[1000, 'AMX', 'hi', 10, True]

In [314]:
l.remove('7')
l

ValueError: list.remove(x): x not in list

In [315]:
l[-1]

True

In [316]:
l

[1000, 'AMX', 'hi', 10, True]

In [317]:
l[:-3]

[1000, 'AMX']

In [318]:
l

[1000, 'AMX', 'hi', 10, True]

In [319]:
l[2]

'hi'

In [320]:
l

[1000, 'AMX', 'hi', 10, True]

In [321]:
l[:-1]

[1000, 'AMX', 'hi', 10]

In [ ]:
l = [10,20,30,40] 
t = (10,20,30,40)

In [323]:
type(l)

list

In [324]:
type(t)

tuple

In [325]:
l

[10, 20, 30, 40]

In [ ]:
t

(10, 20, 30, 40)

In [327]:
l[:]

[10, 20, 30, 40]

In [328]:
t[:]

(10, 20, 30, 40)

In [329]:
t1 = (10,'amx',True, 5.8, 10)
t1

(10, 'amx', True, 5.8, 10)

In [330]:
t1[0]

10

In [331]:
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [332]:
icici = (1234, 'abc34r',37, 200000)
type(icici)

tuple

In [333]:
icici[1234] = 2345

TypeError: 'tuple' object does not support item assignment

In [334]:
icici.append(45)

AttributeError: 'tuple' object has no attribute 'append'

In [335]:
icici

(1234, 'abc34r', 37, 200000)

In [336]:
icici.remove(1234)

AttributeError: 'tuple' object has no attribute 'remove'

In [337]:
len(icici)

4

In [338]:
len(t1)

5

In [339]:
t1

(10, 'amx', True, 5.8, 10)

In [340]:
t1[0]

10

In [341]:
type(t1)

tuple

In [342]:
t1

(10, 'amx', True, 5.8, 10)

In [ ]:
t1[0] = 20

TypeError: 'tuple' object does not support item assignment

In [344]:
t1

(10, 'amx', True, 5.8, 10)

In [ ]:
t1[1] = 20

TypeError: 'tuple' object does not support item assignment

In [346]:
t1

(10, 'amx', True, 5.8, 10)

In [ ]:
t1[0:3]

(10, 'amx', True)

In [348]:
t1

(10, 'amx', True, 5.8, 10)

In [349]:
t1[0:4]

(10, 'amx', True, 5.8)

In [350]:
t1

(10, 'amx', True, 5.8, 10)

In [351]:
t

(10, 20, 30, 40)

In [ ]:
t[0]

10

In [ ]:
l

[10, 20, 30, 40]

In [354]:
l.append(50)

In [355]:
l

[10, 20, 30, 40, 50]

In [356]:
l[0]

10

In [ ]:
l[0] = 30

In [358]:
l

[30, 20, 30, 40, 50]

In [359]:
l.append(60)

In [360]:
l

[30, 20, 30, 40, 50, 60]

In [361]:
l[:10]

[30, 20, 30, 40, 50, 60]

In [362]:
l[10:]

[]

In [363]:
l
type(l)

list

In [364]:
l

[30, 20, 30, 40, 50, 60]

In [365]:
l[:-3]

[30, 20, 30]

In [366]:
l

[30, 20, 30, 40, 50, 60]

In [367]:
l[2:]

[30, 40, 50, 60]

In [368]:
l

[30, 20, 30, 40, 50, 60]

In [369]:
l[:2]

[30, 20]

In [370]:
t

(10, 20, 30, 40)

In [371]:
t[0]

10

In [ ]:
t[0]= 20

TypeError: 'tuple' object does not support item assignment

In [373]:
t1

(10, 'amx', True, 5.8, 10)

In [374]:
t

(10, 20, 30, 40)

In [375]:
t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [376]:
t.add(50)

AttributeError: 'tuple' object has no attribute 'add'

In [377]:
t

(10, 20, 30, 40)

In [378]:
t.remove(30)

AttributeError: 'tuple' object has no attribute 'remove'

In [379]:
t

(10, 20, 30, 40)

In [380]:
t = t*3
t

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [381]:
t[0] = 20

TypeError: 'tuple' object does not support item assignment

In [382]:
t1

(10, 'amx', True, 5.8, 10)

In [ ]:
t2 = t1 * 2

In [384]:
t2

(10, 'amx', True, 5.8, 10, 10, 'amx', True, 5.8, 10)

In [ ]:
t3 = (10,20,(2,6))

In [386]:
t3
type(t3)

tuple

In [387]:
colors = "red", "green", "blue"
colors

('red', 'green', 'blue')

In [388]:
colors = "red", "green", "blue"
colors
rev = colors[::-1] 
rev

('blue', 'green', 'red')

In [389]:
rev = colors[:-1]
rev

('red', 'green')

In [390]:
rev

('red', 'green')

In [391]:
colors

('red', 'green', 'blue')

In [392]:
rev1 = colors[::-2]
rev1

('blue', 'red')

In [393]:
colors = "red", "green", "blue"
colors
rev = colors[:-1] 
rev

('red', 'green')

In [394]:
colors = "red", "green", "blue"
colors
rev = colors[:-2] 
rev

('red',)

In [395]:
colors

('red', 'green', 'blue')

In [396]:
colors[-1]

'blue'

In [397]:
colors

('red', 'green', 'blue')

In [ ]:
rev = colors[::-1] 
rev

('blue', 'green', 'red')

In [399]:
colors

('red', 'green', 'blue')

In [400]:
rev = colors[::-1]
rev

('blue', 'green', 'red')

In [401]:
type(colors)

tuple

In [402]:
rev1 = colors[:-1]
rev1

('red', 'green')

In [ ]:
rev = colors[::-1] 
rev

('blue', 'green', 'red')

In [404]:
colors

('red', 'green', 'blue')

In [ ]:
rev2 = colors[::-2] 
rev2

('blue', 'red')

In [ ]:
r = range(5) 
r

range(0, 5)

In [407]:
r1 = range(10)
r1

range(0, 10)

In [408]:
range(10,20)

range(10, 20)

In [ ]:
r2 = list(range(10)) 
r2
r_ = list(range(3))
r_

[0, 1, 2]

In [410]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [411]:
list(range(10,100,10))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [412]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [413]:
list(range(5,20,5,2))

TypeError: range expected at most 3 arguments, got 4

In [ ]:
r = range(10)
r

range(0, 10)

In [415]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [416]:
for i in r:
    print('yes')
    print(i)

yes
0
yes
1
yes
2
yes
3
yes
4
yes
5
yes
6
yes
7
yes
8
yes
9

In [417]:
r

range(0, 10)

In [ ]:
range(10.0, 11.5)

TypeError: 'float' object cannot be interpreted as an integer

In [419]:
w1 = range(10,20) 
w1

range(10, 20)

In [420]:
for i in w1:    
    print(i)

10
11
12
13
14
15
16
17
18
19

In [421]:
r

range(0, 10)

In [422]:
r[4]

4

In [423]:
r[0]

0

In [424]:
r[5]

5

In [425]:
r[0:3]

range(0, 3)

In [ ]:
range(100)

range(0, 100)

In [ ]:

range(10,30)

range(10, 30)

**Form:3 (if we passed 3 arguments)

In [429]:
range(50)

range(0, 50)

In [ ]:
range(10,50)

range(10, 50)

In [ ]:
range(10,50,5)

range(10, 50, 5)

In [432]:
range(10,50,5,6)

TypeError: range expected at most 3 arguments, got 4

In [433]:
range(10,100,10.56)

TypeError: 'float' object cannot be interpreted as an integer

In [434]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [435]:
for i in range(10,20):  
    print(i)

10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(10,100,10): 
    print(i)

10
20
30
40
50
60
70
80
90

In [ ]:
range(10,20,5,6)

TypeError: range expected at most 3 arguments, got 4

In [ ]:
s = {10,20,30,10,20,30}

In [ ]:
s

{10, 20, 30}

In [440]:
type(s)

set

In [441]:
s_ = {56,30,75,109 }
s_

{30, 56, 75, 109}

In [442]:
s1 = {30,10,20,10,'abc',5.0,True} 
s1

{10, 20, 30, 5.0, True, 'abc'}

In [443]:
s1[0]

TypeError: 'set' object is not subscriptable

In [444]:
s1[1:4]

TypeError: 'set' object is not subscriptable

In [445]:
s

{10, 20, 30}

In [ ]:
s[:]

TypeError: 'set' object is not subscriptable

In [447]:
s

{10, 20, 30}

In [448]:
s[1:]

TypeError: 'set' object is not subscriptable

In [449]:
s

{10, 20, 30}

In [ ]:
s.append(True) 
s

AttributeError: 'set' object has no attribute 'append'

In [ ]:
s.add(True) 
s

{True, 10, 20, 30}

In [452]:
s.add(300)
s

{True, 10, 20, 30, 300}

In [453]:
s.add('b') 
s

{10, 20, 30, 300, True, 'b'}

In [454]:
s.add('c')

In [455]:
s.add('c','d','d')

TypeError: set.add() takes exactly one argument (3 given)

In [456]:
s

{10, 20, 30, 300, True, 'b', 'c'}

In [457]:
s[1]

TypeError: 'set' object is not subscriptable

In [ ]:
s.remove(300)

In [459]:
s

{10, 20, 30, True, 'b', 'c'}

In [460]:
s.add('d') 
s

{10, 20, 30, True, 'b', 'c', 'd'}

In [461]:
s3 = {[10,20,30], 40, True}
s3

TypeError: unhashable type: 'list'

In [462]:
s1

{10, 20, 30, 5.0, True, 'abc'}

In [463]:
s[0] = 50

TypeError: 'set' object does not support item assignment

In [464]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

five
six
two
one
eight
three
seven
four

In [465]:
myset.add('nine')

In [466]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [467]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'six')
(2, 'two')
(3, 'one')
(4, 'eight')
(5, 'three')
(6, 'seven')
(7, 'nine')
(8, 'four')

In [468]:
'nine' in myset

True

In [469]:
myset.add([10,20])

TypeError: unhashable type: 'list'

In [470]:
printmyset.update([10,20])

NameError: name 'printmyset' is not defined

In [471]:
myset.add((30,40,50,50))
myset.update(('ab', 56,[1,2,3]))

TypeError: unhashable type: 'list'

In [472]:
myset

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [473]:
myset.discard('nine')

In [474]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [475]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [476]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [477]:
A.union(C)

{1, 2, 3, 4, 5, 8, 9, 10}

In [478]:
A.union(C)

{1, 2, 3, 4, 5, 8, 9, 10}

In [479]:
A | C | B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [480]:
A, B, C

({1, 2, 3, 4, 5}, {4, 5, 6, 7, 8}, {8, 9, 10})

In [481]:
A & B

{4, 5}

In [482]:
A & C

set()

In [483]:
B & C

{8}

In [484]:
A.intersection(B)

{4, 5}

In [485]:
A.intersection_updaten(B)

AttributeError: 'set' object has no attribute 'intersection_updaten'

In [486]:
A

{1, 2, 3, 4, 5}

In [487]:
B

{4, 5, 6, 7, 8}

In [488]:
D = {10, 11, 12, 13, 14, 15}
len(D)

6

In [489]:
A - B

{1, 2, 3}

In [490]:
len(D)

6

In [491]:
A | D

{1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15}

In [492]:
A & D

set()

In [493]:
A - D

{1, 2, 3, 4, 5}

In [494]:
C | A

{1, 2, 3, 4, 5, 8, 9, 10}

In [495]:
myset

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [496]:
myset.discard('eleven')

In [497]:
myset

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [498]:
myset.remove('eleven')

KeyError: 'eleven'

In [499]:
myset1 = myset.copy()

In [500]:
myset1

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [501]:
myset

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [502]:
myset.clear()

In [503]:
myset

set()

In [504]:
myset1

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [505]:
del myset1

In [506]:
myset1

NameError: name 'myset1' is not defined

In [507]:
s

{10, 20, 30, True, 'b', 'c', 'd'}

In [508]:
s.insert(10,20)

AttributeError: 'set' object has no attribute 'insert'

In [509]:
a = {1,2,3}
b = {4,5,6}
c = { 7,8,9}

In [ ]:
a | b

{1, 2, 3, 4, 5, 6}

In [511]:
b | c

{4, 5, 6, 7, 8, 9}

In [512]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [513]:
a | c

{1, 2, 3, 7, 8, 9}

In [514]:
d = {'nit', 'hi', 2.3}

In [515]:
d | a

{1, 2, 2.3, 3, 'hi', 'nit'}

In [516]:
a | b

{1, 2, 3, 4, 5, 6}

In [517]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [518]:
b.union(d)

{2.3, 4, 5, 6, 'hi', 'nit'}

In [519]:
a , b, c, d

({1, 2, 3}, {4, 5, 6}, {7, 8, 9}, {2.3, 'hi', 'nit'})

In [520]:
a.union(b,c,d)

{1, 2, 2.3, 3, 4, 5, 6, 7, 8, 9, 'hi', 'nit'}

In [521]:
b.union(a,d)

{1, 2, 2.3, 3, 4, 5, 6, 'hi', 'nit'}

In [522]:
a.update(b,c)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [523]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [524]:
b

{4, 5, 6}

In [525]:
c

{7, 8, 9}

In [526]:
b.update(c)

In [527]:
a, b, c, d

({1, 2, 3, 4, 5, 6, 7, 8, 9},
 {4, 5, 6, 7, 8, 9},
 {7, 8, 9},
 {2.3, 'hi', 'nit'})

In [528]:
a & b

{4, 5, 6, 7, 8, 9}

In [529]:
a & b & c

{7, 8, 9}

In [530]:
b & c & d

set()

In [531]:
a - b

{1, 2, 3}

In [532]:
b

{4, 5, 6, 7, 8, 9}

In [533]:
id(b)

1601671837312

In [534]:
id(a)

1601671838208

In [535]:
type(s)

set

In [537]:
s3 = {10,20,30,40} 
s3.add(70)
s3

{10, 20, 30, 40, 70}

In [538]:
s3.add('hallo')
s3

{10, 20, 30, 40, 70, 'hallo'}

In [539]:
fs = frozenset(s3)
fs

frozenset({10, 20, 30, 40, 70, 'hallo'})

In [540]:
type(fs)

frozenset

In [ ]:
fs.add(50)

AttributeError: 'frozenset' object has no attribute 'add'

In [542]:
fs.remove(40)

AttributeError: 'frozenset' object has no attribute 'remove'

In [543]:
fs[1]

TypeError: 'frozenset' object is not subscriptable

In [544]:
s5 = {}
s5

{}

In [545]:
type(s5)

dict

In [546]:
s6 = set()
type(s6)

set

In [547]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for a in myset:
    print(a)

five
six
two
one
eight
three
seven
four

In [548]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'six')
(2, 'two')
(3, 'one')
(4, 'eight')
(5, 'three')
(6, 'seven')
(7, 'four')

In [549]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
if 'three' in myset:
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [551]:
if 'fifty' in myset:
    print('fift is present')
else:
    print('fifty is absent')

fifty is absent

In [552]:
myset.add('Nine')

In [553]:
myset

{'Nine', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [554]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE', 'TWENTY', 'THIRTY']) 
myset

{'ELEVEN',
 'Nine',
 'TEN',
 'THIRTY',
 'TWELVE',
 'TWENTY',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [555]:
myset.discard('THIRTY')

In [556]:
l = [10,20,30]
t = (10,20,30)

In [557]:
#l.discard(10)
t.discard(10)

AttributeError: 'tuple' object has no attribute 'discard'

In [ ]:
myset.discard('THIRTY','TWENTY','ELEVEN')

TypeError: set.discard() takes exactly one argument (3 given)

In [559]:
myset

{'ELEVEN',
 'Nine',
 'TEN',
 'TWELVE',
 'TWENTY',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [560]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [561]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [562]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [563]:
A.union(C)

{1, 2, 3, 4, 5, 8, 9, 10}

In [564]:
A.update(B,C)

In [565]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**DICTIONARY DATATYPES (dict)

* oxford dictionary -- in oxford dictionary words along with meaning is there
* i can say that key:values
* in the case of list,tuple,set,range,set,frozenset we represent individually & all objects are individually object right guys.
* i want to represent as group of object as pair example -- (rollno:name, fruits:price, mobileno:name)
* dict is very important, very special category compare to all category
* duplicate keys are not allowed but values can be duplicate
* dict are represent as {}// : you can assined with given operator
* keys & values both can be hetrogeneous
* No such type of rule that all keys are integer types & values are string type
* keys & values can any type of object

In [566]:
d = {100:'amx', 200:'shiv', 300:'nar'}
d

{100: 'amx', 200: 'shiv', 300: 'nar'}

In [567]:
type(d)

dict

In [ ]:

d1 = {} 
print(d1)
type(d1)

{}

dict

In [569]:
print(type(d1))

<class 'dict'>

In [ ]:
s = set()  
type(s)

set

In [571]:
d_ = dict()
type(d_)

dict

In [572]:
print(type(s))

<class 'set'>

In [ ]:
d2 = {}

In [574]:
d2

{}

In [575]:
d2.100 = 'hi'

SyntaxError: invalid syntax (942938001.py, line 1)

In [576]:
d2

{}

In [ ]:
d2[100] = 'hi' 
d2

{100: 'hi'}

In [ ]:
d2['hi'] = 100 
d2

{100: 'hi', 'hi': 100}

In [579]:
d2[200 + 10j] = 'amx'

In [580]:
d2[300] = 'ABC'

In [581]:
d2

{100: 'hi', 'hi': 100, (200+10j): 'amx', 300: 'ABC'}

In [582]:
d2[250, 350] = 7, 'hi'
d2

{100: 'hi', 'hi': 100, (200+10j): 'amx', 300: 'ABC', (250, 350): (7, 'hi')}

In [583]:
d2[[250, 350]] = 7, 'hi'

TypeError: unhashable type: 'list'

In [584]:
d2[True] = 'yyy'
d2

{100: 'hi',
 'hi': 100,
 (200+10j): 'amx',
 300: 'ABC',
 (250, 350): (7, 'hi'),
 True: 'yyy'}

In [585]:
d2[8.0] = 56
d2

{100: 'hi',
 'hi': 100,
 (200+10j): 'amx',
 300: 'ABC',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56}

In [ ]:
d2

{100: 'hi',
 'hi': 100,
 (200+10j): 'amx',
 300: 'ABC',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56}

In [587]:
d2['l'] = [10,20], 34

In [588]:
d2

{100: 'hi',
 'hi': 100,
 (200+10j): 'amx',
 300: 'ABC',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [589]:
d2[100]

'hi'

In [590]:
del d2[100] # how to remove key & values in dict

In [591]:
del d2[300]

In [592]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [593]:
a1 = {} 
type(a1)

dict

In [594]:
math.sqrt(25)

NameError: name 'math' is not defined

In [595]:
a2 = dict()
type(a2)

dict

In [596]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [597]:
d2.keys()

dict_keys(['hi', (200+10j), (250, 350), True, 8.0, 'l'])

In [598]:
d2.values()

dict_values([100, 'amx', (7, 'hi'), 'yyy', 56, ([10, 20], 34)])

In [599]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [600]:
d2.items()

dict_items([('hi', 100), ((200+10j), 'amx'), ((250, 350), (7, 'hi')), (True, 'yyy'), (8.0, 56), ('l', ([10, 20], 34))])

In [601]:
len(d2.items())

6

In [602]:
d2['criket'] = (23, 45, 56, 67, 78, 89)

In [603]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34),
 'criket': (23, 45, 56, 67, 78, 89)}

In [604]:
type(d2['criket'])

tuple

In [605]:
d2.get(True)

'yyy'

In [606]:
d2.keys(True)

TypeError: dict.keys() takes no arguments (1 given)

In [607]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34),
 'criket': (23, 45, 56, 67, 78, 89)}

In [608]:
d2['criket'] = 'ipl'

In [609]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34),
 'criket': 'ipl'}

In [610]:
d2.pop('criket')

'ipl'

In [611]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [612]:
d4 = d2.copy()

In [613]:
d4

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [614]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [615]:
d4

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [616]:
d2 == d4

True

In [617]:
print(id(d2))
print(id(d4))

1601667730816
1601674006272

In [618]:
id(d2), id(d4)

(1601667730816, 1601674006272)

In [619]:
a = b = c = 30

In [620]:
a is b

True

In [621]:
id(a) is id(b)

False

In [622]:
a = b = c = d = 10
print(id(a))
print(id(b))
print(id(c))
print(id(d))

140733999903816
140733999903816
140733999903816
140733999903816

In [623]:
id(c) is id(d)

False

In [624]:
a is b

True

In [625]:
c is d

True